In [6]:
import os
import sys
sys.path.append(os.path.join(os.getcwd(),'..','..','..'))
from ursse.hydra_harp_file_reader import HydraHarpFile
from ursse.LED_tests.data_analyzis import calc_Fano, get_time_window_hist, calc_Fano_from_counts_per_time_window
import numpy as np
import pandas as pd
import seaborn as sns
from ursse.data_processing import \
    get_event_delays, plot_arrival_time_hist, get_events_array, get_fanos, \
    plot_fanos_hist, process_file, read_event_delays, save_event_delays
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams['figure.figsize'] = [15, 7.5]
plt.rcParams.update({'font.size': 16,'legend.fontsize':16})
import ursse.path_assistant as pa
shift = pa.PathAssistant('shift_02_28_2020')

In [12]:
df, n_revolutions = read_event_delays(shift.get_time_stamp_file_path('1el_000.ptu'))

In [13]:
df

           revolution    delay
343               341  62850.0
362               359  62975.0
532               528  63734.0
576               571  63891.0
670               664  63050.0
...               ...      ...
150879978   150041189  63663.0
150880084   150041294  63753.0
150880212   150041421  63437.0
150880224   150041432  63170.0
150880238   150041445  62846.0

[496668 rows x 2 columns]

In [14]:
df1 = pd.read_csv(os.path.join(shift.get_shift_cache_folder_path(), "1el_000.csv"))

In [19]:
df1[df1[' channel'] == 1]

        revolution   channel   delay
2              340         1   62850
3              358         1   62975
4              527         1   63734
5              570         1   63891
6              663         1   63050
...            ...       ...     ...
838790   150041293         1   63753
838791   150041420         1   63437
838792   150041431         1   63170
838793   150041444         1   62846
838794   150041527         1   62924

[496669 rows x 3 columns]